#wizard {
  font-family: Helvetica;
}
#wwords {
  font-family: Helvetica;
}
#werror {
  color: red;
  font-weight: bold;
  background: #FAA;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 6px;
}
#words {
  column-count: 3;
  font-family: courier;
}

#board {
  margin-bottom: 1em;
}

span.word {
  display: inline-block;
  margin: 0em;
  padding: 3px 8px;
  border: 2px white;
  border-radius: 3px;
}
span.unplaced {
  font-weight: normal;
  color: #AAA;
}
span.placing {
  font-weight: bold;
  color: #777;
  border: 2px ridge gold;
  border-radius: 3px;
}
span.placed {
  font-weight: bold;
  color: black;
  text-decoration: line-through;
}
span.word:hover {
  cursor: pointer;
}

text {
  stroke: none;
}
text.unplaced {
  opacity: 0;
  fill: #AAA;
}
text.offboard {
  opacity: 0;
  fill: pink;
}
text.nofit {
  opacity: 0.6;
  fill: red;
  /*stroke: none;*/
}
text.fits {
  opacity: 0.6;
  fill: green;
  /*stroke: #080;
  stroke-width: 0.3px;*/
}
text.placed {
  opacity: 1;
  fill: black;
  /*stroke: black;
  stroke-width: 0.3px;*/
}
