#wizard {
  font-family: Helvetica;
}
#wwords {
  font-family: Helvetica;
}
#werror {
  color: red;
  font-weight: bold;
  background: #FAA;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 6px;
}
#words {
  column-count: 3;
  font-family: courier;
}
.word {
  color: #777;
}
.placing {
  font-weight: bold;
  color: blue;
}
.word:hover {
  cursor: pointer;
  color: black;
}

.square {
  fill: '#AAA';
  stroke: 'none';
}
.fits {
  fill: 'red';
  stroke: 'black';
  stroke-width: '0.3px';
}